  /* #ff987f old salmon */
    body{
        text-align: center;
        padding:0px;
        margin:0px;
        font-family: sans-serif;
        background-color:#5ebedb;
        overflow: hidden;
    }
    #logo{
        font-size: 25pt;
        font-weight: bold;
        font-style: italic;
        float: left;
        margin-left:10px;
        color:white;
        font-family: Georgia,sans-serif;
    }
#messageText{
    width: 500px;
    height: 200px;
}
 
    #send{
        background-color: #ffc94f;
        border-color:#d3781c;
        color:black;
    }
    #forward,#backward{
        background-color: #5ebedb;
        border-color:#0452a0;
        color:black;
            font-size:20pt;
            position: relative;
            height:200px;
    }
    
    ##forward,#backward:active{
                background-color: #0452a0;
        border-color:#0452a0;
        color:white;
    }
    .button{
                padding:10px;
        border:0px;
        border-bottom: 3px solid;
        border-radius: 5px;
        margin:5px;
text-decoration: none;
        font-weight: bold;
                        background-color: #ffffff;
        border-color:#c4c4c4;
        color:black;
    }
    #count{
        font-size: small;
        color:#0452a0;
        font-weight:bold;
    }
    
    #card{
        padding:25px;
        background-color: #efefef;
        height:100%;
        width: 100%;
    }
    #bar{
        background-color: #5ebedb;
        border-bottom: 3px solid #0452a0;
        padding:10px;
        margin:0;
    }
    
    #backward{
        float:left;
    }
    
    #forward{
        float:right;
    }
    #list{
        text-align: center;
        border:1px solid #0452a0;
    }

    #map{
        width:100%;
        height: 250px;
        position: relative;
    }